In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [3]:
import warnings as wr
wr.filterwarnings('ignore')

# Stemming

In [4]:
word = ['change','changed','changing','changes']

In [5]:
from nltk.stem import PorterStemmer
p = PorterStemmer()

for w in word:
    print(p.stem(w))

chang
chang
chang
chang

In [6]:
for w in word:
    print(w,p.stem(w))

change chang
changed chang
changing chang
changes chang

In [7]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
from nltk.tokenize import word_tokenize
sen = 'I want to change the world if world changed my career by changing me'
toke = word_tokenize(sen)

In [9]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'me']

In [10]:
for w in toke:
    print(w,p.stem(w))

I i
want want
to to
change chang
the the
world world
if if
world world
changed chang
my my
career career
by by
changing chang
me me

In [13]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...

True

In [16]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...

True

# Lemmatization

In [11]:
from nltk.stem import WordNetLemmatizer
le = WordNetLemmatizer()

for w in word:
    print(w,le.lemmatize(w))

change change
changed changed
changing changing
changes change

In [12]:
for w in toke:
    print(w,le.lemmatize(w))

I I
want want
to to
change change
the the
world world
if if
world world
changed changed
my my
career career
by by
changing changing
me me

In [13]:
le.lemmatize('changes')

'change'

# Text Vectorizer

In [14]:
import pandas as pd
df = pd.read_csv('data_text_prosessing.csv')
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [15]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# CountVectorizer

In [16]:
cv = CountVectorizer()
cv_x = cv.fit_transform(df['test'])
cv_x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [17]:
cv_x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [18]:
cv.get_feature_names_out()

array(['an', 'are', 'bangladesh', 'could', 'give', 'hello', 'how',
       'iphone', 'love', 'me', 'talk', 'to', 'want', 'you'], dtype=object)

In [19]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names_out())
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,1,0,0,1,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [20]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names_out(), index=df['test'])
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

# TfidfVectorizer

In [21]:
tf = TfidfVectorizer()
tf_z = tf.fit_transform(df['test'])
tf_z

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [22]:
cv_df_2 = pd.DataFrame(tf_z.toarray(),columns=tf.get_feature_names_out(),index=df['test'])
cv_df_2

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Word2Vec

In [1]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\user\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\user\anaconda3\lib\site-packages (from gensim) (1.21.5)
Requirement already satisfied: scipy>=0.18.1 in c:\users\user\anaconda3\lib\site-packages (from gensim) (1.7.3)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\user\anaconda3\lib\site-packages (from gensim) (5.1.0)

In [23]:
from gensim.models import Word2Vec, KeyedVectors

In [24]:
text_vector = [nltk.word_tokenize(test) for test in df['test']]
text_vector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [25]:
model = Word2Vec(text_vector,min_count=1)

In [26]:
model.wv.most_similar('give')

[('iphone', 0.1747603714466095),
 ('Hello', 0.11118055880069733),
 ('talk', 0.10888978838920593),
 ('want', 0.10560771077871323),
 ('you', 0.09291954338550568),
 ('to', 0.08058696240186691),
 ('Could', 0.004842521157115698),
 ('?', -0.002754009095951915),
 ('an', -0.013679759576916695),
 ('are', -0.025461040437221527)]